:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */

    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 0.7);
    --light-black: #121212;
    --black: #000;
    --white: #fff;
    --light-black-2: #181818;
    --light-black-3: #252525;

    /* UNITS */

    --grid-gap: 24px;
    --column-count: 5;
    --min-container-width: 372px;
}